body {
  margin: 0;
  height: 90%;
}

.App {
  text-align: center;
}

.controls {
  margin: 5px;
  padding: 5px;
  border:1px solid #aaaaaa;
  border-radius: 2px;
}

.controls > span {
  color: #aaaaaa;
}

.gallery > img {
  max-width: 90%;
  max-height: 90vh;
}

